@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.a-style {
  text-decoration: none;
  color: black;
  color: rgb(77, 102, 114);
}

.card-color {
  background-image: linear-gradient(to right, rgb(85, 106, 118), rgb(86, 110, 122));
}

.iran-sans {
  font-family: 'Iranian Sans', Iranian Sans;
}

.banner1 {
  background-image: url('/images/lonely.webp');
  background-size: cover;
  background-position: center;
  height: 270px;
  z-index: -1;
  border-radius: 18px;
  box-shadow: 3px 3px 15px black;
}

.banner2 {
  background-image: url('/images/up.webp');
  background-size: cover;
  background-position: center;
  height: 270px;
  z-index: -1;
  border-radius: 18px;
  box-shadow: 3px 3px 15px black;
}

@media only screen and (max-width: 600px) {
  .banner1 {
    height: 180px;
    border-radius: 10px;
  }
  .banner2 {
    height: 180px;
    border-radius: 10px;
  }
}
@media only screen and (max-width: 950px) {
  .banner1 {
    height: 210px;
  }
  .banner2 {
    height: 210px;
  }
}